div.block {
  background-color: coral;
  margin: 8px;
}
.block {
  height: 100px;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
